*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle.properties
/app/src/debug
/.idea
.idea/misc.xml
app/src/main/java/com/example/bezikafree/keys/keys.java

